%body
  = render partial: '/shared/sidebar'
  %div.contents
    %div.content-top
      %h2.content-top__group-name
        group_name
        %div.content-top__group-name__member-name
          kamiyahiroaki
      %div.content-top__link-box
        %div.content-top__link-box__link-text
          Edit
    %div.main-content
    %div.form-box
      %div.form-box__text-area
        %div.form-box__text-area__text
          text_area
        %label.form-box__text-area__link-box
          %input.form-box__text-area__link-box--file{type: "file"}
          =fa_icon "photo", class: 'form-box__text-area__link-box--photo-icon'
      %div.form-box__sent-buttom
        %div.form-box__sent-buttom__text
          Sent