.contents{
    height: 100vh;
    width: 100vw;
    width: calc(100vw - 300px);
    float: right;
    position: relative;
  .content-top{
      padding: 0 40px;
      height: 100px;
      border-bottom: 2px solid #eeeeee;
      display: flex;
    .content-top__group-name{
        padding-top: 35px;
        font-size: 20px;
        color: #333333;
      .content-top__member-name{
          font-size: 12px;
          color: #999999;
          padding-top: 15px;
      }
    }
    .content-top__link-box{
        height: 40px;
        width: 75px;
        margin: 28px 0 0 auto;
        border: 2px solid #38AEF0;
      .content-top__lin-box__link-text{
          height: 40px;
          padding: 0 20px;
          line-height: 40px;
          color: #38AEF0;
          font-size: 18px;
      }
    }
  }
  .main-content{
      height: 100vh;
      height: calc(100vh - 100px);
      width: 100%;
      width: calc(100% - 80px);
      background-color: #fafafa;
      padding: 0 40px;
  }
  .form-box{
      position: absolute;
      bottom: 0;
      height: 80px;
      background-color: #ddd;
      width: 100%;
      width: calc(100% - 80px);
      padding: 0 40px;
      display: flex;
    .form-box__text-area{
        margin: auto 10px;
        height: 50px;
        width: 100%;
        width: calc(100% - 115px);
        background-color: white;
        color: #434A54;
        line-height: 80px;
        display: flex;
        padding: 0 10px;
      .form-box__text-area__text{
          color: #434A54;
          line-height: 50px;
      }
      .form-box__text-area__link-box{
          line-height: 50px;
          margin-right: 0;
          margin-left: auto;
        .form-box__text-area__link-box--file{
            display: none;
        }
        .form-box__text-area__link-box--photo-icon{
            font-size: 25px;
        }
      }
    }
    .form-box__sent-buttom{
        height: 50px;
        width: 80px;
        margin: 15px 0 15px 15px;
        background-color: #38AEF0;
      .form-box__sent-buttom__text{
          font-size: 18px;
          color: white;
          line-height: 50px;
          text-align: center;
      }
    }
  }
}







