.sidebar{
    width: 300px;
    height: 100%;
    background-color: hsl(214, 27%, 25%);
    float: left;
  .sidebar-top{
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: flex;
    &__user-name{
        color: $sidebar-text-color;
        font-size: 16px;
        line-height: 100px;
    }
    &__lists{
      display: flex;
      margin-right: 0;
      margin-left: auto; 
      .pencil-icon{
          color: $sidebar-text-color;
          line-height: 100px;
      }
      .gear-icon{
          color: $sidebar-text-color;
          line-height: 100px;
          margin-right: 0;
          margin-left: 5px; 
      }
    }
  }
  .groups{
      height: calc(100vh - 100px);
      padding: 0 20px;
    .group {
        box-sizing: border-box;
        padding: 20px 0 40px;
      &__group-name {
          font-size: 15px;
          color: $sidebar-text-color;
      }
      &__first-message {
          color: $sidebar-text-color;
          margin-top: 5px;
      }
    }
  }
}


